
/**
Importing Google Fonts
**/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body{
min-width: 250px;
font-family: Tahoma, Geneva, sans-serif;
line-height: auto;
}

h1,a{
font-family: 'Oswald', san-serif;
line-height: auto;
}

h2,h3,h4,h5,h6{
font-family: 'Montserrat', san-serif;
line-height: auto;
}

button{
background: none;
}

.btn{
margin: 5px;
}
 
 table,thead,th{
 text-align: center;
 }

input .form-control{
width: 50px;
}

.menu-dark{
color: #fff;
height: 100%;
min-width: 250px;
background: #222D32;
}
.menu-dark h2{
text-align: center;
font-size: 20px;
}
.panel-dark{
margin: 0px;
padding: 0px;
background: #222D32;
color: #b8c7ce;
border-bottom: 1px solid;
border-radius: 0px;
height: 100%;
}


.panel-dark label{
width: 100%;
text-decoration: none;
background: none;
color: #b8c7ce;
}

.panel-dark label:hover{
color: #fff;
outline: none;
cursor: pointer;
}

.panel-dark label:focus{
outline: none;
color: #fff;
}


.i .fa-sort-down{
float:right;
}

.panel-collapse a{
background: none;
color: #222D32;
}
.panel-collapse a:link{
color: #222D32;
}

.panel-collapse a:active{
outline: none;
color:  #000;
}
.panel-collapse a:visited{
outline: none;
color: #222D32;
}
.panel-collapse a:hover{
outline: none;
color:  #000;
}



/* Main Section Styles
======================*/
#mainsection{
min-height: 600px;
}

#mainsection h2{
text-align:center;
padding-top: 20px;
color: #0cc6ef;
}

#mainsection p{
font-size: 14px;
}

.main-area{
border: 1px dotted;
padding: 5px;
}

.btn-left {
float: left;
}

.btn-right {
float: right;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

/*Search Form Inputs Styles
======================*/
.search .form-group input{
width: 100px;
display: inline;
}